@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ShutUp.Client.Services.StateContainers
@using ShutUp.Client.Services.ApiServices
@inject NavigationManager _navigationManager
@inject MessageStateContainer _messageState
@inject MessageApiService _messageApi
@inject UserStateContainer _userState
@implements IDisposable

@if (loading)
{
    <p>Loading...</p>
}
else
{
    <ul id="messagesList" class="list-group mb-5">
        @foreach (var message in _messageState.Messages)
        {
            @if (message.Pinned)
            {
                liClass = classesPinned;
            }
            else
            {
                liClass = classes;
            }

            <li class="@liClass mb-1 rounded">
                <div class="d-flex justify-content-between bg-light p-2">
                    <div class="col text-left mb-2">
                        <img src="/img/@message.User.Avatar" class="rounded" alt="staff image" width="40" />
                        @message.User.Name <i class="small">@message.Date.ToString("yyyy-MM-dd HH:mm")</i><br />
                    </div>
                    <div class="col text-right">
                        <span class="oi oi-pin transform" aria-hidden="true" @onclick="@(e => Edit(message))"></span>
                    </div>
                </div>
                <div class="col mt-2">
                    @message.MessageText
                </div>
               

                @if (message.SubMessages != null)
                {
                    <ul class="list-group mt-3">
                        @foreach (var subMessage in message.SubMessages)
                        {
                            <ListSubMessages @ref="@listSubMessages" SubMessage="@subMessage"></ListSubMessages>                        
                        }
                    </ul>
                }
                <div class="d-flex justify-content-end mt-4">
                    <CascadingValue Name="MessageID" Value="@message.MessageId">
                        <AnswerMessage @ref="@answerMessage" CloseEventCallback="@SendSubMessage"></AnswerMessage>
                    </CascadingValue>
                </div>
            </li>
      
        }
    </ul>
    
    <WriteMessageBar @ref="@writeMessageBar"  CloseEventCallback="@Send"></WriteMessageBar>

}


