@page "/pinned"
@using Microsoft.AspNetCore.SignalR.Client
@using ShutUp.Client.Services.StateContainers
@using ShutUp.Client.Services.ApiServices
@inject NavigationManager _navigationManager
@inject MessageStateContainer _messageState
@inject MessageApiService _messageApi
@inject UserStateContainer _userState
@implements IDisposable


<h2 class="text-center beanie mb-5 text-green" >Viktiga meddelanden <span class="oi oi-pin transform"></span></h2>

@if (loading)
{
    <p>Loading...</p>
}
else
{

    <div class="container">
        <div class="row">
            @foreach (var message in _messageState.Messages)
            {
                @if (message.Pinned)
                {
                <div class="col-sm-8 col-md-6 col-lg-4 mt-1 mb-3">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="col-10 text-left">
                                <img src="/img/@message.User.Avatar" class="rounded" alt="staff image" width="30" />
                                @message.User.Name <br />
                                <i class="small">@message.Date.ToString("yyyy-MM-dd HH:mm")</i>
                            </div>
                            <div class="col text-right">
                                <span class="oi oi-pin transform" aria-hidden="true" @onclick="@(e => Edit(message))"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            @message.MessageText

                            @if (message.SubMessages != null)
                            {
                                <ListSubMessagesPinned @ref="@listSubMessages" SubMessages="@message.SubMessages" MessageId="@message.MessageId" CloseEventCallback="@SendSubMessage"></ListSubMessagesPinned>                        
                            }
                            else
                            {
                                <div class="d-flex justify-content-end mt-4">
                                    <CascadingValue Name="MessageID" Value="@message.MessageId">
                                        <AnswerMessage @ref="@answerMessage" CloseEventCallback="@SendSubMessage"></AnswerMessage>
                                    </CascadingValue>
                                </div>
                            }
                        </div>

                    </div>
                </div>
                }
            }


                @if (showWriteMessageBar)
                {
                    <div class="col-sm-8 col-md-6 col-lg-4 mt-1 mb-3">
                        <h6 class="text-right text-green" @onclick="@Hide"><span class="oi oi-x" aria-hidden="true"></span></h6>
                        <WriteMessageBar @ref="@writeMessageBar" CloseEventCallback="@Send"></WriteMessageBar>
                    </div>
                }
                else
                {
                    <div class="col-sm-8 col-md-6 col-lg-4 mt-1 mb-3">
                        <h2 class="text-green text-center mt-5 plus" @onclick="@ShowWriteMessageBar"><span class="oi oi-plus mt-5"></span></h2>
                    </div>
                }

        </div>
    </div>

  
}